/* USER VARIABLES SECTION */

body {
    --text: #424242;
    --accent-text: #E22B00;
	--bg-color: #FFFFFF;
    --bg-secondry: #F1F1F1;
    --line-color: #E4E4E4;
    --input-border: 1px solid #B6B6B6; 
    --rait_shadow: 235, 235, 235;
    --smoll-blok-bg: linear-gradient(180deg, #F1F1F1 0%, rgba(241, 241, 241, 0) 100%);
    /* #ebebeb */



    --logo-img: url(../images/icon-logo.svg);
    --main-menu-icon: url(../images/icon-main.png);
    --news-menu-icon: url(../images/icon-news.png);
    --turnir-menu-icon: url(../images/icon-turnir.png);
    --ligi-menu-icon: url(../images/icon-ligi.png);
    --rating-menu-icon: url(../images/icon-rating.png);
    --about-menu-icon: url(../images/icon-about.png);
    --icon-chat: url(../images/icon-chat.svg);
    --icon-notif: url(../images/icon-notif.svg);
    --icon-login: url(../images/icon-login.svg);
    --icon-menu: url(../images/icon-menu.svg);
    --icon-menu-close: url(../images/icon-close-menu.svg);
    --icon-vk: url(../images/icon-vk.png);
    --icon-fb: url(../images/icon-fb.png);
    --icon-news-page: url(../images/icon-news-page.png);
    --icon-turnir-page: url(../images/icon-turnir-page.png);
    --icon-turnir-page-active: url(../images/icon-turnir-page-active.png);
    --icon-tv: url(../images/icon-tv.png);
    --icon-rait-page: url(../images/icon-rait-page.png);
    --icon-eye: url(../images/icon-eye.png);
    --icon-arrow: url(../images/icon-arrow.png);
    --icon-cs: url(../images/icon-cs.png);
    --icon-dota: url(../images/icon-dota.png);
    --icon-game: url(../images/icon-game.png);
    --icon-aboutus-page: url(../images/icon-aboutus-page.png);
    --icon-eye-news: url(../images/eye.png);
    --icon-news-likes: url(../images/icon-news-likes.png);
    --icon-news-coment: url(../images/icon-news-coment.png);
    --icon-news-share: url(../images/icon-news-share.png);
    --icon-liga-page: url(../images/icon-liga-page.png);
    --icon-prof-vk: url(../images/icon-prof-vk.svg);
    --icon-prof-fb: url(../images/icon-prof-fb.svg);
    --icon-prof-yt: url(../images/icon-prof-yt.svg);
    --icon-prof-ms: url(../images/icon-prof-ms.svg);
    --icon-prof-gm: url(../images/icon-prof-gm.svg);
    --icon-prof-at: url(../images/icon-prof-at.svg);
    --icon-prof-ps: url(../images/icon-prof-ps.svg);
    --icon-prof-xb: url(../images/icon-prof-xb.svg);
    --icon-settings-prof: url(../images/settings-prof.svg);

    --bg-img-left: url(../images/bg-left.png);
    --bg-img-right: url(../images/bg-right.png);
}

body.dark {
    --text: #FFFFFF;
    --accent-text: #42FF82;
	--bg-color: #121019;
    --bg-secondry: #1C1A25;
    --line-color: #2D2A3C;
    --input-border: 1px solid rgba(255, 255, 255, 0.25);
    --rait_shadow: 28, 26, 37;
    --smoll-blok-bg: linear-gradient(180deg, #2D2A3C 0%, rgba(45, 42, 60, 0) 100%);;

    --logo-img: url(../images/icon-logo-dark.svg);
    --main-menu-icon: url(../images/icon-main-dark.png);
    --news-menu-icon: url(../images/icon-news-dark.png);
    --turnir-menu-icon: url(../images/icon-turnir-dark.png);
    --ligi-menu-icon: url(../images/icon-ligi-dark.png);
    --rating-menu-icon: url(../images/icon-rating-dark.png);
    --about-menu-icon: url(../images/icon-about-dark.png);
    --icon-chat: url(../images/icon-chat-dark.svg);
    --icon-notif: url(../images/icon-notif-dark.svg);
    --icon-login: url(../images/icon-login-dark.svg);
    --icon-menu: url(../images/icon-menu-dark.svg);
    --icon-menu-close: url(../images/icon-close-menu-dark.svg);
    --icon-vk: url(../images/icon-vk-dark.png);
    --icon-fb: url(../images/icon-fb-dark.png);
    --icon-arrow: url(../images/icon-arrow-dark.png);
    --icon-cs: url(../images/icon-cs-dark.png);
    --icon-news-page: url(../images/icon-news-page-dark.png);
    --icon-turnir-page: url(../images/icon-turnir-page-dark.png);
    --icon-turnir-page-active: url(../images/icon-turnir-page-active-dark.png);
    --icon-tv: url(../images/icon-tv-dark.png);
    --icon-rait-page: url(../images/icon-rait-page-dark.png);
    --icon-game: url(../images/icon-game-dark.png);
    --icon-aboutus-page: url(../images/icon-aboutus-page-dark.png);
    --icon-eye-news: url(../images/icon-eye.png);
    --icon-news-likes: url(../images/icon-news-likes-dark.png);
    --icon-news-coment: url(../images/icon-news-coment-dark.png);
    --icon-news-share: url(../images/icon-news-share-dark.png);
    --icon-liga-page: url(../images/icon-liga-page-dark.png);
    --icon-prof-vk: url(../images/icon-prof-vk-dark.svg);
    --icon-prof-fb: url(../images/icon-prof-fb-dark.svg);
    --icon-prof-yt: url(../images/icon-prof-yt-dark.svg);
    --icon-prof-ms: url(../images/icon-prof-ms-dark.svg);
    --icon-prof-gm: url(../images/icon-prof-gm-dark.svg);
    --icon-prof-at: url(../images/icon-prof-at-dark.svg);
    --icon-prof-ps: url(../images/icon-prof-ps-dark.svg);
    --icon-prof-xb: url(../images/icon-prof-xb-dark.svg);
    --icon-settings-prof: url(../images/settings-prof-dark.svg);

    --bg-img-left: url(../images/bg-left-dark.png);
    --bg-img-right: url(../images/bg-right-dark.png);
}

/* fonts */

@font-face { src: url("../fonts/Jost-Regular.woff2") format("woff2"); font-family: "jost-reg"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/Jost-Medium.woff2") format("woff2"); font-family: "jost-med"; font-weight: 500; font-style: normal; }

/* GENERAL CSS SETTINGS */

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, html {
    overflow-x: hidden;
    height: 100%;    
}

body {
    background: var(--bg-color);
    position: relative;
    color: var(--text);
    font-family: "jost-med";
    font-size: 16px;
}

.purple-button {
    width: 300px;
    height: 44px;
    background: linear-gradient(48.14deg, #2A0463 0.31%, #5600FF 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "jost-med";
}
.wrap {
    min-height: 100%;
    padding-bottom: 225px;
    overflow: hidden;
}
header {
    background: var(--bg-secondry);
    width: 100%;
    height: 60px;
    display: flex;
    align-content: center;
    padding-bottom: 2px;
}
.container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;    
}
.container_header {
    display: flex;
    align-items: center;
    width: 1200px;
}
.container_page {
    padding: 30px 15px;
}
.logo {
    position: relative;
}

.logo, .menu {
    display: inline-flex;
    align-items: center;
}
.logo {
    padding-right: 15px;
    margin-right: 15px;
}
.logo:after {
    content: '';
    position: absolute;
    right: 0;
    top: 1px;
    width: 1px;
    height: 32px;
    background-color: var(--line-color);
}
.logo_img {
    width: 17px;
    height: 17px;
    background-image: var(--logo-img);
} 
.logo_name {
    font-size: 24px;
    margin-left: 10px;
}
.logo_name span {
    color: #CD1B15;
    text-shadow: 0px 0px 3px rgba(205, 27, 21, 0.5);
}
.menu_mobile .logo {
    display: none;
}
.menu_open {
    position: relative;
    padding-left: 27px;
    display: none;
}
.menu_open:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    height: 16px;
    background-image: var(--icon-menu);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu_close {
    position: relative;
    display: none;
    float: right;
    width: 22px;
    height: 22px;
    margin-top: 6px;
}
.menu_close:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background-image: var(--icon-menu-close);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    position: relative;
}
nav:after {
    content: '';
    position: absolute;
    right: 0;
    top: -6px;
    width: 1px;
    height: 32px;
    background-color: var(--line-color);
}
nav ul {
    display: inline-flex;
    align-items: center;
}
nav li {
    list-style-type: none;
    margin-right: 25px;
}
nav a {
    text-decoration: none;
    color: var(--text);
    position: relative;
    padding-left: 27px;
}
nav .turnir {
    padding-left: 31px;
}
nav .ligi {
    padding-left: 26px;
}
nav .rating {
    padding-left: 34px;
}
nav .about {
    padding-left: 26px;
}
nav .main:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 20px;
    background-image: var(--main-menu-icon);
    background-repeat: no-repeat;
    background-size: cover;
}
nav .news:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 21px;
    height: 20px;
    background-image: var(--news-menu-icon);
    background-repeat: no-repeat;
    background-size: cover;
}
nav .turnir:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 25px;
    height: 20px;
    background-image: var(--turnir-menu-icon);
    background-repeat: no-repeat;
    background-size: cover;
}
nav .ligi:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    background-image: var(--ligi-menu-icon);
    background-repeat: no-repeat;
    background-size: cover;
}
nav .rating:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 27px;
    height: 20px;
    background-image: var(--rating-menu-icon);
    background-repeat: no-repeat;
    background-size: cover;
}
nav .about:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    background-image: var(--about-menu-icon);
    background-repeat: no-repeat;
    background-size: cover;
}
.lang_choice, .lang_sublist {
    list-style: none;
}
.lang_active {
    position: relative;
}
.lang_sublist {
    visibility: hidden;
    position: absolute;
    top: 25px;  
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-secondry);
}
.show_list {
    visibility: visible;
    z-index: 111;
}
.theme_form {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-left: 15px;
}
.toggle:before, .toggle:after {
	position: absolute;
}
.toggle:before, .toggle:after {
	transition: transform 0.3s;
}
.toggle:before, .toggle:checked:after  {
	transition-timing-function: ease-out;
}
.toggle {
    position: relative;
    overflow: hidden;
	background: var(--text);
	border-radius: 0.75em;
	cursor: pointer;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.toggle:before, .toggle:after {
	border-radius: 50%;
	content: "";
	display: block;
	top: 0.25em;
	left: 0.25em;
	width: 1em;
	height: 1.05em;
}
.toggle:before {
    background-color: var(--text);
}
.toggle:checked:before {
    background-color: #1C1A25;
}
.toggle:after {
    background-color: #F1F1F1;;
}
.toggle:before, .toggle:checked:after {
	transition-delay: 0s;
}
.toggle:checked:before, .toggle:after {
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0.3,1.6,0.5,0.7);
}
.toggle:before {
	transform: translateX(-1.5em);
    background-color: var();
}
.toggle:checked:before {
	transform: translateX(1.5em);
}
.toggle:checked:after {
	transform: translateX(3em);
}
.tools {
    display: flex;
    flex-direction: row;
}
.tools .lang {
    margin-left: 15px;
}
.chat {
    position: relative;
    margin-left: 15px;
}
.chat .chat_icon {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.chat .chat_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: var(--icon-chat);
    background-repeat: no-repeat;
    background-size: cover;
}
.chat .chat_masseges {
    position: absolute;
    visibility: hidden;
    background-color: var(--bg-secondry);
    top: 55px;
    right: 1px;
    padding: 15px 10px;
    width: 260px;
    height: auto;
}
.notif {
    position: relative;
    margin-left: 15px;
}
.notif .notif_icon {
    position: relative;
    display: block;
    width: 17px;
    height: 20px;
    cursor: pointer;
}
.notif .notif_count {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #5600FF;
    top: -5px;
    right: -4px;
    color: #FFFFFF;
    font-size: 9px;
    text-align: center;
    padding-right: 1px;
}
.notif .notif_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;
    height: 20px;
    background-image: var(--icon-notif);
    background-repeat: no-repeat;
    background-size: cover;
}
.notif .notif_masseges {
    position: absolute;
    visibility: hidden;
    background-color: var(--bg-secondry);
    top: 55px;
    right: 1px;
    padding: 15px 10px;
    width: 260px;
    height: auto;
}
.notif .notif_masseges li {
    list-style: none; 
    margin-top: 10px;   
}
.notif .notif_masseges a {
    color: var(--text);
    text-decoration: none;    
}
.chat .show_masseges, .notif .show_masseges {
    visibility: inherit;
    z-index: 111;
}
.login {
    position: absolute;
    right: 15px;
}
.login_icon {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.login_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background-image: var(--icon-login);
    background-repeat: no-repeat;
    background-size: cover;
}
.modal input {
    width: 300px;
    height: 44px;
    border: var(--input-border);
    padding-left: 15px;
    background: transparent;
}
.modal {
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5);
}
.modal_news {
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    display:none;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,.5);
}
.show {
    display:block;
}
.modal__dialog {
    max-width:500px;
    margin:40px auto;
    background-color: var(--bg-secondry);
}
.modal_news__dialog {
    max-width:878px;
    margin:40px auto;
    background-color: var(--bg-secondry);
}
.modal__content {
    position:relative;
    width:100%;
    padding:40px;
}
.modal_news__content {
    position:relative;
    width:100%;
}
.modal_news__content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: -11px;
}
.modal_news__content_main {
    font-family: 'jost-reg', sans-serif;
    background: var(--smoll-blok-bg);
    padding: 20px;
    margin-top: 5px;
}
.modal_news__content_main ul {
    padding-left: 35px;
    margin: 15px 0;
}
.modal_news__content_footer {
    font-family: 'jost-reg', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.dop_news_likes, .dop_news_coment, .dop_news_share {
    position: relative;
    padding-left: 28px;
}
.dop_news_likes, .dop_news_coment {
    margin-right: 15px;
}
.dop_news_likes:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 20px;
    height: 18px;
    background-image: var(--icon-news-likes);
    background-repeat: no-repeat;
    background-size: cover;
}
.dop_news_coment:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 1px;
    width: 20px;
    height: 20px;
    background-image: var(--icon-news-coment);
    background-repeat: no-repeat;
    background-size: cover;
}
.dop_news_share:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 20px;
    height: 18px;
    background-image: var(--icon-news-share);
    background-repeat: no-repeat;
    background-size: cover;    
}
.modal_news__content_footer a {
    width: 180px;
    height: 44px;
    background: linear-gradient(48.14deg, #2A0463 0.31%, #5600FF 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "jost-med", sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 9px 0;
    box-shadow: 0px 0px 26px -5px rgb(86 0 255 / 93%);
}
.modal__close {
    position:absolute;
    top:8px;
    right:14px;
    font-size:30px;
    color:var(--text);
    opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer
}
.modal_news__close {
    position:absolute;
    top:0;
    right:14px;
    font-size:30px;
    color:#FFFFFF;
    font-weight:500;
    border:none;
    background-color:transparent;
    cursor:pointer
}
.tabcontainer {
    width: 100%;
    margin: 0 auto;
}
.tabcontent {
    width: 850px;
    position: relative;
    display: none;
}
.tabcontent form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabcontent form input, .tabcontent form button {
    margin-top: 20px;
    font-family: "jost-med";
}
.tabshow {
    display: contents;
    animation-name: plavno;
    animation-duration: 1.3s;
}
@keyframes plavno {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.tabheader {
    width: 100%;
}
.tabheader__items {
    display: flex;
    justify-content: space-around;
}
.tabheader__item {
    cursor:pointer;
    color: var(--text);
    font-size: 18px;
    opacity: 0.5;
}
.tabheader__item_active {
    color: var(--accent-text);
    opacity: inherit;
}
.user_active .login_icon {
    display: none;
}
.user_active .user_login {
    display: flex;
}
.user_login {
    display: none;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: var(--text);
}
.user_login .user_name {
    margin-right: 8px;
}
footer {
    height: 225px;
    margin-top: -225px;
    padding: 40px 0;
}
.footer_container {
    max-width: 1200px;
    width: 100%;
}
footer nav {
    display: inline-block;
}
footer nav:after {
    display: none;
}
footer .social {
    position: absolute;
    right: 15px;
    top: 22px;
}
.footer_main {
    padding: 25px 0;
    border-top: solid 1px var(--line-color);
    border-bottom: solid 1px var(--line-color);
}
.footer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}
.footer_info a {
    text-decoration: none;
    color: var(--text);
}
.social_vk, .social_fb {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.social_vk:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: var(--icon-vk);
    background-repeat: no-repeat;
    background-size: cover;
}
.social_fb:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-image: var(--icon-fb);
    background-repeat: no-repeat;
    background-size: cover;
}
.page {
    display: flex;
}
.page_main {
    width: 73%;
    padding-right: 15px;
}
.page_asside {
    display: flex;
    flex-direction: column;
    width: 27%;
    padding-left: 15px;
}
.page_asside_raiting {
    padding: 20px 15px;
    background-color: var(--bg-secondry);
    position: relative;
    overflow: hidden;
    max-height: 450px;
}
.page_asside_raiting_h {
    position: relative;
    font-size: 19px;
    padding-left: 35px;
    border-bottom: solid 1px var(--line-color);
    padding-bottom: 10px;
}
.page_asside_raiting_h:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 27px;
    height: 20px;
    background-image: var(--icon-rait-page);
    background-repeat: no-repeat;
    background-size: cover;
}
.tabcontainer_raiting {
    width: 100%;
    margin: 0 auto;
}
.tabcontent_raiting {
    width: 850px;
    position: relative;
    display: none;
}
.tabshow_raiting {
    display: contents;
    animation-name:plavno;
    animation-duration:1.3s;
}
.tabheader_raiting {
    width: 100%;
    padding: 10px 0 9px;
    border-bottom: 1px solid var(--line-color);
}
.tabheader_raiting__items {
    display: flex;
    justify-content: space-between;
}
.tabheader_raiting__item {
    cursor:pointer;
    color: var(--text);
    font-size: 18px;
    opacity: 0.5;
}
.tabheader_raiting__item_active {
    color: var(--text);
    opacity: inherit;
}
.tabcontent_raiting a {
    width: 270px;
    height: 44px;
    background: linear-gradient(48.14deg, #2A0463 0.31%, #5600FF 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "jost-med";
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 9px 0;
    margin: auto;
    box-shadow: 0px 0px 26px -5px rgba(	86, 0, 255, 0.93);
}
.bg_a_raiting {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 0 20px;
    background: rgba(var(--rait_shadow), 0.95);
    box-shadow: 0px 0px 41px 37px rgba(var(--rait_shadow), 1);
}
.raiting_item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
    margin: 15px 0 21px;
}
.raiting_user {
    display: flex;
    align-items: center;
}
.raiting_user span {
    padding-left: 10px;
}
.raiting_place {
    position: absolute;
    top: 6px;
    right: 0;
}
.page_asside_ad_block {
    width: 100%;
    display: block;
}
.page_asside_ad_block.ad {
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    height: 150px;
    background-image: url(../images/add-block-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.page_asside_ad_block {
    display: block;
    width: 100%;
    height: 150px;
    background-image: url(../images/add-block-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.page_main_news {
    margin-top: 20px;
}
.page_main_news_h {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}
.page_main_news_h_all {
    text-decoration: none;
    color: var(--text);
}
.page_main_news_h_all, .page_main_news_h_icon {
    position: relative;
}
.page_main_news_h_icon {
    padding-left: 29px;
}
.page_main_news_h_all {
    padding-right: 15px;
}
.page_main_news_h_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 21px;
    height: 20px;
    background-image: var(--icon-news-page);
    background-repeat: no-repeat;
    background-size: cover;
}
.page_main_news_h_all:after {
    content: '';
    position: absolute;
    right: 0;
    top: 9px;
    width: 7px;
    height: 12px;
    background-image: var(--icon-arrow);
    background-repeat: no-repeat;
    background-size: cover;
}
.page_main_news_items {
    display: flex;
    justify-content: space-between;
    min-height: 389px;
    margin: 15px 0;
}
.page_main_news_item {
    width: 32%;
}
.page_main_news_items_block {
    display: flex;
    width: 66%;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.page_main_news_item_in_b {
    position: relative;
    width: 48.5%;
    height: 48%;
}
.page_main_news_item_content_h {
    position: absolute;
    width: 100%;
    line-height: 18px;
    padding: 35px 12px;
    bottom: 0;
    color: #fff;
    background: linear-gradient(0deg, #2D2A3C 0%, rgba(45, 42, 60, 0.66) 65%, rgba(45, 42, 60, 0) 100%);
}
.news1 {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/img-news-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news2 {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/img-news-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news3 {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/img-news-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news4 {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/img-news-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news5 {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/img-news-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.page_main_news_item_content {
    height: 100%;
    position: relative;

}
.page_main_news_item_content_tag-view {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    font-family: "jost-reg", sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 12px;
}
.page_main_news_item_content_view {
    position: relative;
}
.page_main_news_item_content_view:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 1px;
    width: 15px;
    height: 10px;
    background-image: var(--icon-eye);
    background-repeat: no-repeat;
    background-size: cover;
}
.page_main_news_item_content_date {
    position: absolute;
    top: 12px;
    right: 12px;
    background: rgba(45, 42, 60, 0.6);
    padding: 6px 9px;
    font-family: "jost-reg", sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 12px;
}
.future_turnir {
    margin-top: 32px;
}
.future_turnir_h {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    margin-bottom: 10px;
}
.future_turnir_h_all {
    text-decoration: none;
    color: var(--text);
}
.future_turnir_h_icon, .future_turnir_h_all {
    position: relative;
}
.future_turnir_h_icon {
    padding-left: 29px;
}
.future_turnir_h_all {
    padding-right: 15px;
}
.future_turnir_h_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 25px;
    height: 20px;
    background-image: var(--icon-turnir-page);
    background-repeat: no-repeat;
    background-size: cover;
}
.future_turnir_h_all:after {
    content: '';
    position: absolute;
    right: 0;
    top: 9px;
    width: 7px;
    height: 12px;
    background-image: var(--icon-arrow);
    background-repeat: no-repeat;
    background-size: cover;
}
.future_turnir_list_item {
    border-bottom: 1px solid var(--line-color);
}
.future_turnir_list_item a {
    display: flex;
    color: var(--text);
    text-decoration: none;
}
.future_turnir_list_cs .future_turnir_list_item_img {
    width: 106px;
    height: 80px;
    margin-right: 20px;
    background: url(../images/img-cs.png) center center no-repeat;
}
.future_turnir_list_dota .future_turnir_list_item_img {
    width: 106px;
    height: 80px;
    margin-right: 20px;
    background: url(../images/img-dota.png) center center no-repeat;
}
.future_turnir_list_item_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 60px;
    line-height: 16px;
    align-items: center;
    position: relative;
}
.future_turnir_list_cs .future_turnir_list_item_info:after {
    content: '';
    position: absolute;
    right: 16px;
    top: 24px;
    width: 23px;
    height: 30px;
    background-image: var(--icon-cs);
    background-repeat: no-repeat;
    background-size: cover;
}
.future_turnir_list_dota .future_turnir_list_item_info:after {
    content: '';
    position: absolute;
    right: 16px;
    top: 24px;
    width: 30px;
    height: 30px;
    background-image: var(--icon-dota);
    background-repeat: no-repeat;
    background-size: cover;
}
.active_turnir {
    margin-top: 32px;
}
.active_turnir_h {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    margin-bottom: 15px;
}
.active_turnir_h_all {
    text-decoration: none;
    color: var(--text);
}
.active_turnir_h_icon, .active_turnir_h_all {
    position: relative;
}
.active_turnir_h_icon {
    padding-left: 29px;
}
.active_turnir_h_all {
    padding-right: 15px;
}
.active_turnir_h_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 25px;
    height: 20px;
    background-image: var(--icon-turnir-page-active);
    background-repeat: no-repeat;
    background-size: cover;
}
.active_turnir_h_all:after {
    content: '';
    position: absolute;
    right: 0;
    top: 9px;
    width: 7px;
    height: 12px;
    background-image: var(--icon-arrow);
    background-repeat: no-repeat;
    background-size: cover;
}
.active_turnir_list_item {
    background: var(--smoll-blok-bg);
    margin-top: 5px;
    height: 80px;
    overflow: hidden;
    transition: 0.4s;
    padding-left: 15px;
}
.active_turnir_list_item:hover {
    height: 160px;
    transition: 0.4s;
}
.active_turnir_list_item_top {
    display: flex;
    color: var(--text);
    text-decoration: none;
}
.active_turnir_list_item_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 111px;
    margin-right: 15px;
    padding: 17px 0;
    border-top: solid 1px var(--line-color);
}
.active_turnir_list_item_bottom span {
    font-family: "jost-reg", sans-serif;
}
.active_turnir_list_item_bottom a {
    width: 180px;
    height: 44px;
    background: linear-gradient(48.14deg, #2A0463 0.31%, #5600FF 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "jost-med";
    text-decoration: none;
    /* display: block; */
    text-align: center;
    padding: 9px 0;
    box-shadow: 0px 0px 26px -5px rgba(	86, 0, 255, 0.93);
}
.active_turnir_list_cs .active_turnir_list_item_img {
    width: 106px;
    height: 80px;
    margin-right: 20px;
    background: url(../images/img-cs.png) center center no-repeat;
}
.active_turnir_list_dota .active_turnir_list_item_img {
    width: 106px;
    height: 80px;
    margin-right: 20px;
    background: url(../images/img-dota.png) center center no-repeat;
}
.active_turnir_list_item_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 60px;
    line-height: 16px;
    align-items: center;
    position: relative;
}
.active_turnir_list_cs .active_turnir_list_item_info:after {
    content: '';
    position: absolute;
    right: 16px;
    top: 24px;
    width: 23px;
    height: 30px;
    background-image: var(--icon-cs);
    background-repeat: no-repeat;
    background-size: cover;
}
.active_turnir_list_dota .active_turnir_list_item_info:after {
    content: '';
    position: absolute;
    right: 16px;
    top: 24px;
    width: 30px;
    height: 30px;
    background-image: var(--icon-dota);
    background-repeat: no-repeat;
    background-size: cover;
}
.video_h {
    margin-top: 30px;
    margin-bottom: 20px;
}
.video_h_icon {
    padding-left: 30px;
    font-size: 19px;
    position: relative;
}
.video_h_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 22px;
    height: 20px;
    background-image: var(--icon-tv);
    background-repeat: no-repeat;
    background-size: cover; 
}
.video_section {
    height: 494px;
}


.page_main_rat_game_h_icon {
    font-size: 19px;
    position: relative;
    padding-left: 35px;
}
.page_main_rat_game_h_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 26px;
    height: 20px;
    background-image: var(--icon-game);
    background-repeat: no-repeat;
    background-size: cover;
}
.page_main_rat_h_icon {
    font-size: 19px;
    position: relative;
    padding-left: 35px;
}
.page_main_rat_h_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 27px;
    height: 20px;
    background-image: var(--icon-rait-page);
    background-repeat: no-repeat;
    background-size: cover;
}
.page_main_rat_game_tab .tabheader_raiting__item {
    width: 32%;
    height: 87px;
    text-align: center;
    padding: 25px 0;
    color: #fff;
    font-size: 24px;
}
.tab_cs{
    background-image: url(../images/img-tab-cs.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tab_dota{
    background-image: url(../images/img-tab-dota.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tab-fifa{
    background-image: url(../images/img-tab-fifa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.page_main_rat_game_tab .tabheader_raiting__item_active {    
    box-shadow: 0px 0px 26px -5px rgb(86 0 255 / 93%);
}
.page_main_rat_game_h {
    margin-bottom: 7px;
}
.page_main_rat_game_tab .tabheader_raiting {
    border-bottom: none;
}
.page_main_rat_h {
    margin-top: 20px;
}
.page_main_rat_game_tab .raiting_item {
    padding: 13px 15px 13px 45px;
    background: var(--smoll-blok-bg);
    margin: 10px 0 0 0;
}
.page_main_rat_game_tab .raiting_place {
    left: 15px;
}
.page_main_rat_game_tab .raiting_place {
    top: 21px;
}
.rat_first {
    border-top: solid 1px #FFD964;
}
.rat_second {
    border-top: solid 1px #B8B8B8;
}
.rat_third{
    border-top: solid 1px #734C00;
}
.aboutus_h_icon {
    font-size: 19px;
    position: relative;
    padding-left: 30px;
}
.aboutus_h {
    margin-top: 20px;
}
.aboutus_h_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    height: 20px;
    background-image: var(--icon-aboutus-page);
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutus_block {
    font-family: 'jost-reg', sans-serif;
    background: var(--smoll-blok-bg);
    padding: 20px 24px;
    margin-top: 30px;
}
.aboutus_block ul {
    padding-left: 35px;
    margin: 15px 0;
}
.page_main_list_news {
    margin-top: 30px;
}

.page_main_list_news_filter {
    display: flex;
    background-color: var(--bg-secondry);
    padding: 24px 16px;
}
.filter_item, .filter_item_l {
    opacity: 0.6;
    cursor: pointer;
    margin-right: 15px;
}
.filter_item.filter_active, .filter_item_l.filter_active_l {
    opacity: 1;
    border-bottom: 2px solid #5600FF;
}
.news_block img {
    width: 280px;
    min-width: 280px;
    height: 180px;
    object-fit: cover;
} 
.news_block {
    display: flex;
    background-color: var(--bg-secondry);
    margin-top: 20px;
}
.news_block_main {
    padding: 20px 20px 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news_block_main_dop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.news_block_dop {
    font-family: 'jost-reg', sans-serif;
    font-size: 14px;
}
.news_block_main_dop a {
    width: 180px;
    height: 44px;
    background: linear-gradient(48.14deg, #2A0463 0.31%, #5600FF 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "jost-med";
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 9px 0;
    box-shadow: 0px 0px 26px -5px rgb(86 0 255 / 93%);
}
.news_block_dop_date, .news_block_dop_views {
    margin-right: 15px;
}
.news_block_dop_views {
    position: relative;
    padding-left: 20px;
}
.news_block_dop_views:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 5px;
    width: 15px;
    height: 11px;
    background-image: var(--icon-eye-news);
    background-repeat: no-repeat;
    background-size: cover;
}
.dark .news_block_dop_views:before {
    height: 10px;
}
.page_main_list_news_more {
    width: 100%;
    background: transparent;
    font-family: 'jost-med', sans-serif;
    font-size: 16px;
    border: 1px solid var(--text);
    color: var(--text); 
    padding: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.tabcontainer_game {
    width: 100%;
    margin: 0 auto;
}
.tabheader_game {
    width: 100%;
    padding: 10px 0 9px;
}
.tabheader_game__items {
    display: flex;
    justify-content: space-between;
}
.tabheader_game__item {
    width: 32%;
    height: 87px;
    text-align: center;
    padding: 25px 0;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.5;
}
.tabheader_game__item_active {
    box-shadow: 0px 0px 26px -5px rgb(86 0 255 / 93%);
    opacity: 1;
}
.tabcontent_game {
    /* width: 850px; */
    position: relative;
    display: none;
}
.tabshow_game {
    display: contents;
    animation-name: plavno;
    animation-duration: 1.3s;
}
.page_main_tourneys_h {
    margin-bottom: 10px;
}
.page_main_tourneys_h_icon {
    position: relative;
    font-size: 19px;
    padding-left: 35px;
}
.page_main_tourneys_h_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 26px;
    height: 20px;
    background-image: var(--icon-game);
    background-repeat: no-repeat;
    background-size: cover;
}
.turnir_bloks_cs, .turnir_bloks_dt, .turnir_bloks_ff {
    display: none;
}
.turnir_bloks_cs.active, .turnir_bloks_dt.active, .turnir_bloks_ff.active {
    display: flex;
}
.turnir_item_cs, .turnir_item_dt, .turnir_item_ff {
    cursor: pointer;
}
.tourneys_tabcontent_h_with_filter {
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.tourneys_tabcontent_filter_cs, .tourneys_tabcontent_filter_dt, .tourneys_tabcontent_filter_ff {
    display: flex;
}
.tourneys_tabcontent_filter_cs .turnir_item_cs, .tourneys_tabcontent_filter_dt .turnir_item_dt, .tourneys_tabcontent_filter_ff .turnir_item_ff {
    opacity: 0.5;
}
.tourneys_tabcontent_filter_cs .turnir_active_cs, .tourneys_tabcontent_filter_dt .turnir_active_dt, .tourneys_tabcontent_filter_ff .turnir_active_ff {
    opacity: 1;
    border-bottom: 2px solid #5600FF;
}
.tourneys_tabcontent_filter_cs div[data-id='active'], .tourneys_tabcontent_filter_dt div[data-id='active'], .tourneys_tabcontent_filter_ff div[data-id='active'] {
    margin-right: 20px;
}
.tourneys_tabcontent_filter_cs div[data-id='completing'], .tourneys_tabcontent_filter_dt div[data-id='completing'], .tourneys_tabcontent_filter_ff div[data-id='completing'] {
    margin-right: 20px;
}
.tourneys_tabcontent_h {
    position: relative;
    padding-left: 35px;
}
.tourneys_tabcontent_h:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 25px;
    height: 20px;
    background-image: var(--icon-turnir-page-active);
    background-repeat: no-repeat;
    background-size: cover;
}



.page_main_leagues_h {
    margin-bottom: 10px;
}
.page_main_leagues_h_icon {
    position: relative;
    font-size: 19px;
    padding-left: 35px;
}
.page_main_leagues_h_icon:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 26px;
    height: 20px;
    background-image: var(--icon-game);
    background-repeat: no-repeat;
    background-size: cover;
}
.league_bloks_cs, .league_bloks_dt, .league_bloks_ff {
    display: none;
}
.league_bloks_cs.fxf, .league_bloks_dt.fxf, .league_bloks_ff.fxf {
    display: flex;
}
.league_item_cs, .league_item_dt, .league_item_ff {
    cursor: pointer;
}
.leagues_tabcontent_h_with_filter {
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.leagues_tabcontent_filter_cs, .leagues_tabcontent_filter_dt, .leagues_tabcontent_filter_ff {
    display: flex;
}
.leagues_tabcontent_filter_cs .league_item_cs, .leagues_tabcontent_filter_dt .league_item_dt, .leagues_tabcontent_filter_ff .league_item_ff {
    opacity: 0.5;
}
.leagues_tabcontent_filter_cs .league_active_cs, .leagues_tabcontent_filter_dt .league_active_dt, .leagues_tabcontent_filter_ff .league_active_ff {
    opacity: 1;
    border-bottom: 2px solid #5600FF;
}
.leagues_tabcontent_filter_cs div[data-id='fxf'], .leagues_tabcontent_filter_dt div[data-id='fxf'], .leagues_tabcontent_filter_ff div[data-id='fxf'] {
    margin-right: 20px;
}
.leagues_tabcontent_filter_cs div[data-id='txt'], .leagues_tabcontent_filter_dt div[data-id='txt'], .leagues_tabcontent_filter_ff div[data-id='txt'] {
    margin-right: 20px;
}
.leagues_tabcontent_h {
    position: relative;
    padding-left: 30px;
}
.leagues_tabcontent_h:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 18px;
    height: 18px;
    background-image: var(--icon-liga-page);
    background-repeat: no-repeat;
    background-size: cover;
}
.league_bloks_cs, .league_bloks_dt, .league_bloks_ff {
    flex-direction: column;
    padding: 15px;
    position: relative;
    background: var(--smoll-blok-bg);
    margin-top: 20px;
}
.league_bloks_cs img, .league_bloks_dt img, .league_bloks_ff img {
    position: absolute;
    left: 15px;
    top: 20px;
}
.leagues_item_head {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-bottom: 15px;
    padding: 0 40px 15px 110px;
}
.leagues_item_head:after{
    content: '';
    position: absolute;
    right: 16px;
    top: 14px;
    width: 23px;
    height: 30px;
    background-image: var(--icon-cs);
    background-repeat: no-repeat;
    background-size: cover;
}
.league_item_main {
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    padding-top: 15px;
    border-top: 1px solid var(--line-color);
    align-items: center;
}
.league_item_info {
    display: flex;
    line-height: 18px;
}
.league_item_info div {
    margin-right: 15px;
}
.league_item_info span {
    font-family: 'jost-reg', sans-serif;
}
.league_item_btns {
    display: flex;
}
.league_item_btns_pil {
    width: 180px;
    height: 44px;
    border: 2px solid var(--accent-text);
    color: var(--accent-text);
    background: transparent;
    font-family: 'jost-med', sans-serif;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
}
.league_item_btns_more {
    width: 180px;
    height: 44px;
    background: linear-gradient(48.14deg, #2A0463 0.31%, #5600FF 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "jost-med";
    text-decoration: none;
    /* display: block; */
    text-align: center;
    padding: 9px 0;
    box-shadow: 0px 0px 26px -5px rgb(86 0 255 / 93%);
}
.page_main_league .tabheader_game__items {
    justify-content: flex-start;
    background-color: var(--bg-secondry);
    padding: 0 15px;
}
.page_main_league .tabheader_game__item:first-child {
    margin-right: 25px;
}
.page_main_league .tabheader_game__item {
    width: auto;
    height: auto;
    text-align: center;
    padding: 0;
    color: var(--text);
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
    padding: 15px 0;
}
.page_main_league .tabheader_game__item_active {
    box-shadow: none;
    border-bottom: 1px solid #5600FF;
    opacity: 1;
}
.page_main_league .raiting_item {
    padding: 20px 15px 20px 45px;
    background: var(--smoll-blok-bg);
    margin: 10px 0 0 0;
}
.page_main_league .raiting_place {
    top: 21px;
    left: 15px;
}
.page_main_league .tabcontent_game .league_bg {
    background: var(--smoll-blok-bg);
    padding: 15px;
}
.page_main_league .tabcontent_game p {
    margin-bottom: 15px;
}
.page_main_league .tabheader_game {
    margin: 25px 0;
}
.font_reg {
    font-family: 'jost-reg', sans-serif;
}
.league_h {
    display: block;
    font-size: 19px;
    margin-bottom: 5px;
}
.lldmb {
    margin-bottom: 15px;
}
.page_main_league_registration img {
    width: 100%;
    margin-bottom: -6px;
}
.page_main_league_registration_block {
    background: var(--bg-secondry);
    padding: 20px 15px 15px;
    border-top: 3px solid #5600FF;
}
.page_main_league_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_main_league_block_h {
    font-size: 19px;
}
.page_main_league_registration_block .regi_league {
    width: 180px;
    height: 44px;
    border: 2px solid var(--accent-text);
    color: var(--accent-text);
    background: transparent;
    font-family: 'jost-med', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.page_main_league_block {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--line-color);
    position: relative;
}
.page_main_league_info {
    display: flex;
    margin-top: 15px;
}
.page_main_league_registration_block .mode, .page_main_league_registration_block .end, .page_main_league_registration_block .raiting {
    margin-right: 15px;
}
.page_main_league_block:before {
    content: '';
    position: absolute;
    right: 205px;
    top: 9px;
    width: 23px;
    height: 30px;
    background-image: var(--icon-cs);
    background-repeat: no-repeat;
    background-size: cover;
}
.turnir_bloks_cs, .turnir_bloks_dt, .turnir_bloks_ff {
    flex-direction: column;
    padding: 15px;
    position: relative;
    background: var(--smoll-blok-bg);
    margin-top: 20px;
}
.turnir_bloks_cs img, .turnir_bloks_dt img, .turnir_bloks_ff img {
    position: absolute;
    left: 15px;
    top: 20px;
}
.tourney_item_head {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-bottom: 15px;
    padding: 0 40px 15px 110px;
}
.tourney_item_head:after {
    content: '';
    position: absolute;
    right: 16px;
    top: 12px;
    width: 23px;
    height: 30px;
    background-image: var(--icon-cs);
    background-repeat: no-repeat;
    background-size: cover;
}
.tourney_item_main {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    padding-top: 15px;
    border-top: 1px solid var(--line-color);
}
.tourney_item_info {
    display: flex;
    line-height: 18px;
}
.tourney_item_info_playres, .tourney_item_info_date {
    margin-right: 30px;
}
.tourney_item_btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.tourney_item_btns_reg {
    width: 180px;
    height: 44px;
    border: 2px solid var(--accent-text);
    color: var(--accent-text);
    background: transparent;
    font-family: 'jost-med', sans-serif;
    font-size: 16px;
    margin-right: 20px;
    cursor: pointer;
}
.tourney_item_btns_more {
    width: 180px;
    height: 44px;
    background: linear-gradient(48.14deg, #2A0463 0.31%, #5600FF 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "jost-med";
    text-decoration: none;
    text-align: center;
    padding: 9px 0;
    box-shadow: 0px 0px 26px -5px rgb(86 0 255 / 93%);
}
.page_main_tourney_registration img {
    width: 100%;
    margin-bottom: -6px;
    object-fit: cover;
}
.page_main_tourney_registration_block {
    background: var(--bg-secondry);
    padding: 20px 15px 15px;
    border-top: 3px solid #5600FF;
}
.page_main_tourney_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--line-color);
    position: relative;
}
.page_main_tourney_block:before {
    content: '';
    position: absolute;
    right: 205px;
    top: 9px;
    width: 23px;
    height: 30px;
    background-image: var(--icon-cs);
    background-repeat: no-repeat;
    background-size: cover;
}
.page_main_tourney_block_h {
    font-size: 19px;
}
.page_main_tourney_registration_block .regi_tourney {
    width: 180px;
    height: 44px;
    border: 2px solid var(--accent-text);
    color: var(--accent-text);
    background: transparent;
    font-family: 'jost-med', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.page_main_tourney_info {
    display: flex;
    margin-top: 15px;
}
.page_main_tourney_registration_block .turnir, .page_main_tourney_registration_block .registration, .page_main_tourney_registration_block .date, .page_main_tourney_registration_block .players, .page_main_tourney_registration_block .checkin {
    margin-right: 15px;
}
.page_main_tourney .tabheader_game {
    margin: 25px 0;
}
.page_main_tourney .tabheader_game__items {
    justify-content: flex-start;
    background-color: var(--bg-secondry);
    padding: 0 15px;
}
.page_main_tourney .tabheader_game__item {
    margin-right: 25px;
}
.page_main_tourney .tabheader_game__item:last-child {
    margin-right: 0;
}
.page_main_tourney .tabheader_game__item {
    width: auto;
    height: auto;
    text-align: center;
    padding: 0;
    color: var(--text);
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
    padding: 15px 0;
}
.page_main_tourney .tabheader_game__item_active {
    box-shadow: none;
    border-bottom: 1px solid #5600FF;
    opacity: 1;
}
.page_main_tourney .raiting_item {
    padding: 20px 15px 20px 45px;
    background: var(--smoll-blok-bg);
    margin: 10px 0 0 0;
}
.page_main_tourney .raiting_place {
    top: 21px;
    left: 15px;
}
.tabheader_game__items {
    position: relative;
}
.tabheader_game__items .results {
    position: absolute;
    right: 15px;
}
.page_main_tourney .matches {
    padding: 20px 15px;
    background: var(--smoll-blok-bg);
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.matches_result span {
    margin-right: 35px;
}.matches_result span:last-child {
    margin-right: 0;
}
.page_main_tourney .members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page_main_tourney .members .member {
    width: 48.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 90px 15px 15px;
    background: var(--smoll-blok-bg);
    margin-bottom: 10px;
}
.page_main_tourney .members .member_ava_nik {
    display: flex;
    align-items: center;
}
.page_main_tourney .members .member_ava_nik img {
    margin-right: 10px;
}
.member_rat {
    position: absolute;
    right: 15px;
}
.results_vs_users {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.results_vs_users .vs {
    font-size: 70px;
    text-transform: uppercase;
}
.results_vs_users .first_user_result, .results_vs_users .second_user_result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 280px;
    background: var(--smoll-blok-bg);
    padding: 20px 15px;
}
.results_vs_users .first_user_result .first_user_result_ava_nik {
    display: flex;
    align-items: center;
}
.results_vs_users .first_user_result .first_user_result_ava_nik img {
    margin-right: 15px;
}
.results_vs_users .second_user_result .second_user_result_ava_nik {
    display: flex;
    align-items: center;
}
.results_vs_users .second_user_result .second_user_result_ava_nik img {
    margin-right: 15px;
}
.results_input_form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.results_input_form form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input_form{
    margin-top: 15px;
}
.input_form button {
    width: 258px;
    height: 40px;
    background: linear-gradient(48.14deg, #2A0463 0.31%, #5600FF 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "jost-med";
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 9px 0;
    margin: auto;
    box-shadow: 0px 0px 26px -5px rgb(86 0 255 / 93%);
}
.input_form_aria {
    display: flex;
    justify-content: space-between;
    width: 258px;
    margin-bottom: 20px;
}
.input_form_aria input {
    width: 120px;
    height: 40px;
    background: transparent;
    font-family: 'jost-med', sans-serif;
    font-size: 16px;
    border: 1px solid var(--text);
    color: var(--text);
    padding: 10px 15px;
}
.call_admin {
    margin-top: 20px;
}
.call_admin button {
    width: 258px;
    height: 40px;
    background: transparent;
    font-family: 'jost-med', sans-serif;
    font-size: 16px;
    border: 1px solid var(--text);
    color: var(--text);
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.profile_asside {
    background: var(--bg-secondry);
    padding: 15px;
    margin-right: 15px;
}
.profile_asside_ava {
    display: flex;
    flex-direction: column;
}
.profile_asside_ava img {
    width: 100%;
    object-fit: cover;
}
.profile_asside_info_nikname {
    font-size: 20px;
    line-height: 50px;
}
.profile_asside_info_stat {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--line-color);
    padding: 15px 0;
}
.tabheader__item_right {
    font-size: 19px;
}
.profile_asside_footer_form button {
    width: 258px;
    max-width: 100%;
}
.profile_asside_footer_links {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.profile_asside_footer_links div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.profile_asside_footer_links div a {
    position: relative;
    width: 55px;
    height: 55px;
    margin-top: 20px;
}
.prof-vk:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-image: var(--icon-prof-vk);
    background-repeat: no-repeat;
    background-size: cover;
}
.prof-fb:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-image: var(--icon-prof-fb);
    background-repeat: no-repeat;
    background-size: cover;
}
.prof-yt:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-image: var(--icon-prof-yt);
    background-repeat: no-repeat;
    background-size: cover;
}
.prof-ms:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-image: var(--icon-prof-ms);
    background-repeat: no-repeat;
    background-size: cover;
}
.prof-gm:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-image: var(--icon-prof-gm);
    background-repeat: no-repeat;
    background-size: cover;
}
.prof-at:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-image: var(--icon-prof-at);
    background-repeat: no-repeat;
    background-size: cover;
}
.prof-ps:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-image: var(--icon-prof-ps);
    background-repeat: no-repeat;
    background-size: cover;
}
.prof-xb:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background-image: var(--icon-prof-xb);
    background-repeat: no-repeat;
    background-size: cover;
}
.form_profile_massege {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_profile_massege input {
    font-family: 'jost-med', sans-serif;
}
.form_profile_massege textarea {
    width: 300px;
    height: 150px;
    border: var(--input-border);
    padding: 15px;
    font-family: 'jost-med', sans-serif;
    background: transparent;
    margin: 15px 0 20px;
    resize: none;
} 
.profile_tab .tabheader__items, .profile_tab_set .tabheader__items {
    justify-content: flex-start;
    background-color: var(--bg-secondry);
    padding: 0 15px;
    position: relative;
    align-items: center;
}
.profile_tab .tabheader__item, .profile_tab_set .tabheader__item {
    width: auto;
    height: auto;
    text-align: center;
    padding: 0;
    color: var(--text);
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
    padding: 15px 0;
    margin-right: 25px;
} 
.profile_tab .tabheader__item_active, .profile_tab_set .tabheader__item_active {
    box-shadow: none;
    border-bottom: 1px solid #5600FF;
    opacity: 1;
}
.to-settings {
    position: relative;
}
.to-settings:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 20px;
    background-image: var(--icon-settings-prof);
    background-repeat: no-repeat;
    background-size: cover;
}
.profile_tab_about {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.profile_tab_about_block div {
    font-size: 19px;
    margin-bottom: 10px;
}
.profile_tab_about_block {
    padding: 15px;
    background: var(--smoll-blok-bg);
    width: 48.5%;
}
.tabheader__item_right {
    position: absolute;
    right: 15px;
    min-width: 21px;
    min-height: 20px;
    line-height: 16px;
}
.profile_tab_set .tabheader__item_right a {
    text-decoration: none;
    color: var(--text);
}
.user_data {
    background: var(--smoll-blok-bg);
    padding: 15px;
    margin-top: 20px;
}
.user_data form {
    position: relative;
}
.user_data input {
    width: 300px;
    height: 44px;
    border: var(--input-border);
    padding-left: 15px;
    background: transparent;
    font-family: 'jost-med', sans-serif;
}
.user_data label {
    position: absolute;
    left: 0;
}
.name_label {
    top: 30px;
}
.lastname_label {
    top: 93px;
}
.nikname_label {
    top: 158px;
}
.email_label {
    top: 30px;
}
.social1 {
    top: 30px;
}
.social2 {
    top: 93px;
}
.social3 {
    top: 158px;
}
.social4 {
    top: 226px;
}
.social5 {
    top: 289px;
}
.social6 {
    top: 351px;
}
.social7 {
    top: 414px;
}
.social8 {
    top: 479px;
}
.user_data p {
    font-size: 19px;
    margin-top: 35px;
}
.user_data p:first-child {
    margin-top: 0;
}
.user_about textarea {
    width: 400px;
    height: 150px;
    border: var(--input-border);
    padding: 15px;
    font-family: 'jost-med', sans-serif;
    background: transparent;
    margin: 15px 0 0;
    resize: none;
}
.user_about {
    background: var(--smoll-blok-bg);
    padding: 15px;
    margin-top: 20px;
}
.user_about p {
    font-size: 19px;
    margin-bottom: 15px;
}
.archive {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.reputation, .praises{
    padding: 15px;
    background: var(--smoll-blok-bg);
    width: 48.5%;
}
.reputation_header, .praises_header{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    margin-bottom: 15px;
}
.reputation_block, .praises_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid var(--line-color);
}
.reputation_block div:first-child, .praises_block div:first-child {
    width: 100%;
}
.profile_tab_filter, .profile_tab_filter_l {
    display: flex;
    background-color: var(--bg-secondry);
    align-items: center;
    margin-top: 20px;
    padding: 15px;
}
.filter_block, .filter_block_l, .archive_block {
    flex-direction: column;
    padding: 15px;
    position: relative;
    background: var(--smoll-blok-bg);
    margin-top: 20px;
}
.filter_block.active, .filter_block_l.active {
    display: flex;
}
.filter_block img, .filter_block_l img, .archive_block img {
    position: absolute;
    left: 15px;
    top: 20px;
}
.filter_item_head, .archive_item_head {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-bottom: 15px;
    padding: 0 40px 15px 110px;
}
.filter_item_head:after, .archive_item_head:after {
    content: '';
    position: absolute;
    right: 16px;
    top: 12px;
    width: 23px;
    height: 30px;
    background-image: var(--icon-cs);
    background-repeat: no-repeat;
    background-size: cover;
}
.filter_item_main {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    padding-top: 15px;
    border-top: 1px solid var(--line-color);
}
.filter_item_info {
    display: flex;
    line-height: 18px;
}
.filter_item_btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.filter_item_btns_more {
    width: 180px;
    height: 44px;
    background: linear-gradient(48.14deg, #2A0463 0.31%, #5600FF 100%), #C4C4C4;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "jost-med";
    text-decoration: none;
    text-align: center;
    padding: 9px 0;
    box-shadow: 0px 0px 26px -5px rgb(86 0 255 / 93%);
}
.filter_item_info_playres, .filter_item_info_date, .filter_item_info_check {
    margin-right: 30px;
}
.archive_item_main {
    margin-left: 110px;
    padding-top: 15px;
    border-top: 1px solid var(--line-color);
}
.archive_item_info {
    display: flex;
}
.archive_item_info_date {
    margin-right: 100px;
}
.archive_vs {
    display: flex;
    justify-content: space-between;
    width: 275px;
}