/* == DESKTOP FIRST == */


@media (min-width: 1400px) {
	.bg-left {
		position: absolute;
		height: calc(100% - 60px);
		width: 1238px;
		top: 60px;
		background-image: var(--bg-img-left);
		background-repeat: no-repeat;
		z-index: -1;
	}
	
	.bg-right {
		position: absolute;
		height: calc(100% - 60px);
		width: 615px;
		top: 60px;
		right: 0;
		background-image: var(--bg-img-right);
		background-repeat: no-repeat;
		z-index: -1;
	}
}

/* xl <= Extra extra large (xxl) */


@media (min-width : 1150px) {
	.page_asside_ad_block.ad {
		margin-top: 44px;
	}
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
	.menu_open {
		display: block;
		cursor: pointer;
	}
	.menu_mobile {
		visibility: hidden;
		position: absolute;
		width: 280px;
		top: -15px;
    	left: 0;
		background-color: var(--bg-secondry);
		padding: 15px;
	}
	.menu_mobile.show_menu {
		visibility: inherit;
		z-index: 111;
	}
	.menu_close {
		display: inline;
		cursor: pointer;
	}
	.menu_mobile .logo {
		display: inline-flex;
	}
	.menu_mobile .logo:after {
		display: none;
	}
	nav {
		padding-bottom: 10px;
	}
	nav:after {
		display: none;
	}
	nav ul {
		display: flex;
		flex-direction: column;
    	align-items: flex-start;
		padding-left: 30px;
	}
	nav ul li {
		padding-top: 25px;
	}
	nav a {
		padding-left: 35px;
	}
	nav .turnir {
		padding-left: 35px;
	}
	nav .ligi {
		padding-left: 35px;
	}
	nav .about {
		padding-left: 34px;
	}
	.tools {
		position: absolute;
    	right: 180px;
	} 
	footer nav {
		display: none;
	}
	footer .logo:after {
		display: none;
	}

	.page_asside_ad.rat a {
		margin-top: 0;
	}
}

@media (max-width : 1150px) {
	.page {
		flex-direction: column;
	}
	.page_main {
		width: 100%;
		padding-right: 0;
	}
	.page_asside{
		flex-direction: row;
		width: 100%;
		padding-left: 0;
	}
	.page_asside_raiting, .page_asside_ad {
		width: 50%;
	}
	.page_asside_raiting {
		margin-right: 15px;
	}
	.page_asside_ad {
		margin-left: 15px;
		max-height: 450px;
	}
	.page_asside_ad_block.ad {
		margin-top: 0;
		margin-bottom: 32px;
	}
	.page_asside_ad_block.ad, .page_asside_ad_block {
		height: 209px;
	}
	.container_page {
		padding: 15px;
	}
	.video {
		margin-bottom: 30px;
	}
	.video_section {
		height: 540px;
	}
	
}
@media (min-width: 665px) and (max-width: 1150px) {
	.page_asside_ad.rat {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		margin-left: 0;
		margin-top: 50px;
	}
	.page_asside_ad.rat div {
		width: 49.5%;
	}
}
@media (min-width: 878px) and (max-width: 1200px) {
	.footer_info .pol {
		position: absolute;
		top: 30px;
		left: 53%;
		transform: translateX(-110%);
	}
	.footer_info .use {
		position: absolute;
		top: 30px;
		right: 46%;
		transform: translateX(110%);
	}
}

/* md <= Large (lg) */
@media (max-width : 992px) {
	
}

@media (max-width: 878px) {
	.footer_main {
		border-bottom: none;
	}
	.footer_info {
		flex-direction: column;
		padding-top: 0px;
	}
	.footer_info a {
		margin-bottom: 8px;
	}
	.wrap {
		padding-bottom: 235px;
	}
	footer {
		height: 235px;
    	margin-top: -235px;
	}
	.mob_del {
		display: none;
	}
	.page_main_news_item {
		width: 50%;
		margin-right: 8px;
	}
	.page_main_news_items_block {
		width: 50%;
		margin-left: 8px;
	}
	.page_main_news_item_in_b {
		width: 100%;
	}
	.video_section {
		height: 450px;
	}
	.active_turnir_list_item_bottom {
		margin-left: 0;
	}
}
/* sm <= Medium (md) */
@media (max-width : 768px) {
	.logo_name {
		display: none;
	}
	.menu_mobile .logo_name {
		display: block;
	}
	.menu_mobile {
		top: -21px;
	}
	footer .logo_name {
		display: block;
	}
	.video_section {
		height: 400px;
	}
	.future_turnir_list_item_info, .active_turnir_list_item_info {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		line-height: 24px;
	}
	.active_turnir_list_item_bottom {
		flex-wrap: wrap;
	}
	.active_turnir_list_item_players, .active_turnir_list_item_date, .active_turnir_list_item_chek, .active_turnir_list_item_more {
		width: 50%;
	}
	.active_turnir_list_item_date {
		width: auto;
	}
	.active_turnir_list_item_players, .active_turnir_list_item_date {
		margin-bottom: 15px;
	}
	.video_section {
		height: 248px;
	}
	.active_turnir_list_item:hover {
		height: 197px;
	}
	.page_asside {
		margin-top: 40px;
	}
	.news_block img {
		display: none;
	}
	.news_block_main p {
		margin-bottom: 15px;
	}
}
@media (max-width : 665px) {
	.page_asside {
		flex-direction: column;
	}
	.page_asside_raiting {
		width: 80%;
		margin: auto;
	}
	.page_asside_ad {
		width: 80%;
		margin: auto;
	}
	.page_asside_ad_block.ad {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.page_asside_ad.rat {
		margin-top: 35px;
	} 
}
/* xs <= Small (sm) */
@media (max-width : 612px) {
	.menu_mobile nav {
		padding-top: 60px;
	} 
	.tools {
		top: 60px;
		left: 45px;
		display: none;
	}
	.tools.show_tools {
		display: flex;
		z-index: 111;
	}
	.chat_masseges {
		left: -132px;
	}
	.notif_masseges {
		left: -167px;
	}
	.lang_sublist {
		width: 60px;
    	left: -19px;
	}
	.lang_sublist li {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
@media (max-width : 576px) {
	.modal__dialog {
		width: 340px;
	}
	.modal__content {
		padding: 40px 20px;
		width: 340px;
	}
	.modal__close  {
		top: 0;
	}
	.active_turnir_list_item_bottom {
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: flex-start;
	}
	.active_turnir_list_item_chek {
		margin-bottom: 15px;
	}
	.active_turnir_list_item:hover {
		height: 273px;
	}
	.news_block img {
		display: block;
		width: 100%;
	}
	.news_block {
		flex-direction: column;
	}
}

@media (max-width : 500px) {
	.news_block_main_dop {
		flex-direction: column;
		align-items: center;
	}
	.news_block_main_dop a {
		margin-top: 15px;
	}
}
@media (max-width : 476px) {
	.page_main_rat_game_tab .tabheader_raiting__items {
		flex-direction: column;
	}
	.page_main_rat_game_tab .tabheader_raiting__item {
		width: 100%;
	}
	.page_main_rat_game_tab .tab_dota, .page_main_rat_game_tab .tab-fifa {
		margin-top: 15px;
	} 
}
@media (max-width : 455px) {
	.page_main_news_items {
		flex-direction: column;
	}
	.page_main_news_item, .page_main_news_items_block {
		width: 100%;
	}
	.page_main_news_item {
		margin-right: 0;
	}
	.page_main_news_items_block {
		margin-left: 0;
	}
	.page_main_news_item_content a {
		height: 296px;
	}
	.page_main_news_item_in_b a {
		height: 138px;
		margin-top: 10px;
	}
	.page_asside_raiting {
		width: 100%;
		margin: 0;
	}
	.page_asside_ad {
		width: 100%;
		margin: 0;
	}
	.page_asside_ad_block.ad {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.future_turnir_h_all_mob-none, .active_turnir_h_all_mob-none {
		display: none;
	}
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	
}